 

:root
{
    --blue-background-color:#1d1d1d;
    --blue-main-color: #73BBC9;
    --blue-text-color:#ffffff;
    --blue-nav-color:#181818;
}

*
{
  box-sizing: border-box;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  overflow: hidden;
}

html
{
    font-size: 62.5%;
    height:100%;
}

body
{
    background: var(--blue-background-color);
    height:100%;
}

#root
{
    height:100%;
}
